<div class="mdc-card">
    <div class="mdc-card__media mdc-card__media--16-9" {{#if this.background}}style="background:{{this.background}};"{{/if}}></div>
    <div class="p-1">
        <div>
            <h2 class="mdc-typography--headline6">{{{ stripOnlyScript this.title }}}</h2>
            {{#if this.secondaryTitle}}
                <h3 class="demo-card__subtitle mdc-typography--subtitle2">{{{ stripOnlyScript this.secondaryTitle }}}</h3>
            {{/if}}
        </div>
        <div class="mdc-typography--body2">{{truncateHTML (conflictFreeHtml this.content)}}</div>
    </div>
    <div class="mdc-card__actions">
        {{#each this.actions}}
            {{#if this.method}}
                    <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded {{this.class}}"
                        
                        target="_blank"
                        data-method="DELETE"
                        data-name="{{../title}}"
                        alt="'{{../title}}' löschen">
                        <i class="fa fa-{{this.icon}}"></i>
                    </button>
            {{else}}
                <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded {{this.class}}" 
                    onClick="window.open({{this.link}})"
                    alt="'{{../../title}}' {{this.alt}}.">
                    <i class="fa fa-{{this.icon}}"></i>
                </button>
            {{/if}}
        {{else}}
            {{#if this.menuInfo}}
                <small class="sc-card-menu-info">{{{this.menuInfo}}}</small>
            {{/if}}
        {{/each}}
        <a class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded" href="{{url}}">{{{link-text}}}</a>
        {{#if additionalInfoName}}
            <div class="additionalInfo" >
                {{> (concat 'lib/sc-card_additionalInfo/' additionalInfoName) }}
            </div>
        {{/if}}
    </div>
</div>